body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 800px; 
}

.rm {
  background: red;
  border-radius: 50%;
  color: white;
  border: none;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
  color: springgreen;
}

.titleClass {
  color: hotpink;
}

.todoChanged {
  visibility: hidden;
}